{:min-bb-version "0.8.156"
 :deps  {failjure/failjure {:mvn/version "2.3.0"}}
 :tasks {:requires ([babashka.fs :as fs]
                    [babashka.tasks :refer [shell]])

         release     {:doc  "make uberjar"
                      :task (shell {:dir "."} "lein uberjar")}

         calendar    {:doc "prepare & copy calendar files"
                      :task (do (shell {:dir "."}  "npm install")
                                (shell {:dir "."}  "cp -v node_modules/bulma-calendar/dist/css/bulma-calendar.min.css resources/public/css")
                                (shell {:dir "."}  "cp -v node_modules/bulma-calendar/dist/js/bulma-calendar.min.js resources/public/js"))}}}
