#kaocha/v1
{:tests [{:id :unit
          :test-paths ["test"]
          :source-paths ["src"]
          :ns-patterns ["-test$"]}]
 :watch {:ignore ["resources/" "target/" ".git/"]}
 :color? true
 :fail-fast? false}
