{
 :secrets #include #join [#env HOME "/.secrets.edn"]
 :oauth2/providers ["google"]
 :oauth2/google-authorize-uri     "https://accounts.google.com/o/oauth2/auth"
 :oauth2/google-access-token-uri  "https://accounts.google.com/o/oauth2/token"
 :oauth2/google-scopes             ["https://www.googleapis.com/auth/userinfo.email"
                                    "https://www.googleapis.com/auth/userinfo.profile"]
 :oauth2/google-redirect-uri       "/oauth2/google/callback"
 :oauth2/google-launch-uri         "/oauth2/google/log-in"
 :oauth2/google-landing-uri        "/app-landing"
 :oauth2/google-client-id          #or [#env OAUTH2_GOOGLE_CLIENT_ID #ref [:secrets :app1/google-client-id]]
 :oauth2/google-client-secret      #or [#env OAUTH2_GOOGLE_CLIENT_SECRET #ref [:secrets :app1/google-client-secret]]
 :secret-key #or [#env SECRET_KEY #ref [:secrets :app1/secret-key] ""]
 :log-level #or [#env LOG_LEVEL "WARN"]
 :sentry/dsn #or [#env SENTRY_DSN nil]
 :sentry/environment #or [#env SENTRY_ENVIRONMENT "development"]
 :sentry/enabled #or [#env SENTRY_ENABLED false]
 :datomic/system #or [#env DATOMIC_SYSTEM "dev"]
 :datomic/db-name #or [#env DATOMIC_DB_NAME "meetings"]
 :server/port #or [#env PORT 8081]
}
