<!DOCTYPE html>
<html data-signals-bulma-theme="'desktop'" data-attr-data-theme="$bulmaTheme" 
      data-signals-bulma-theme-icon="'fas fa-desktop'"
      data-on-signal-change-bulma-theme="$bulmaThemeIcon={'system': 'fas fa-desktop', 'dark': 'fas fa-moon', 'light': 'fas fa-sun'}[$bulmaTheme]">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page-title %}Welcome (Hola) to Tactical Meeting!{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">

    <link href="/assets/fa/css/fontawesome.css" rel="stylesheet" />
    <link href="/assets/fa/css/brands.css" rel="stylesheet" />
    <link href="/assets/fa/css/solid.css" rel="stylesheet" />
    <script type="module" src="/assets/js/datastar.js"></script>

  </head>
  <body>
    {% block content %}
    {% endblock %}
    {% block endbody %}{% endblock %}
  </body>
</html>
