{% extends "templates/base.html" %}

{% block content %}
  <section class="section">
    <div class="container">
      <h1 class="title">
        Holacracy (like) Tactical Meeting organizer
      </h1>
      <p class="subtitle">
        Brings the structured meetings approach into your team!
      </p>


      <div class="content">
        <p>
          This software will help you to:
          <ul>
            <li><strong>List</strong> the issues/tasks/tensions in a collaborative manner</li>
            <li>Provide the tools to <strong>facilitate</strong> the meeting and discuss every topic</li>
            <li>Store/keep/control/export <strong>action</strong> results</li>
          </ul>
        </p>
      </div>

      <!-- docs: https://developers.google.com/identity/gsi/web/guides/display-button -->
      <script src="https://accounts.google.com/gsi/client" async></script>
      <div id="g_id_onload"
           data-client_id="{{ google_client_id }}"
           data-login_uri="https://{{ host }}{{ google_login_uri }}"
           data-auto_prompt="false">
      </div>
      <div class="g_id_signin"
           data-ignore
           style="width: 350px"
           data-type="standard"
           data-size="large"
           data-theme="outline"
           data-text="sign_in_with"
           data-shape="rectangular"
           data-logo_alignment="left">
      </div>

      {% if dev_mode %}
        <div style="margin-top: 20px;">
          <a class="button" style="width: 350px" href="/login/fake">
            <span>Fake login (development mode)</span>
          </a>
        </div>
      {% endif %}


      <!-- google login which we don't use -->
      <!--
           <a class="button mt-4 is-primary" style="width: 228px" href="https://{{ host }}{{ google_launch_uri }}">
           <span class="icon">
           <i class="fab fa-google"></i>
           </span>
           <span>Login via Google</span>
           </a>
      -->


    </div>


    {% comment %}
    <div class="column">
    <button class="button" style="width: 350px">
    <span class="icon">
    <i class="fab fa-jira"></i>
    </span>
    <span>Login via JIRA</span>
    </button>
    </div>
    {% endcomment %}
  </section>
{% endblock %}
