<!-- Navigation -->
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <strong>Hola-Tact-Meet</strong>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/app">
        Dashboard
      </a>
      <a class="navbar-item" href="/meetings">
        Meetings
      </a>
      <a class="navbar-item" href="/actions">
        My Actions
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <span class="icon is-small">
            <i data-attr-class="$bulmaThemeIcon || 'fas fa-desktop'" id="theme-icon"></i>
          </span>
        </a>
        <div class="navbar-dropdown is-right">
          <a class="navbar-item" href="#" id="theme-light" data-on-click="$bulmaTheme='light' ; @get('/change-css-theme')">
            <span class="icon is-small">
              <i class="fas fa-sun"></i>
            </span>
            <span>Light</span>
          </a>
          <a class="navbar-item" href="#" id="theme-dark"  data-on-click="$bulmaTheme='dark' ; @get('/change-css-theme')">
            <span class="icon is-small">
              <i class="fas fa-moon"></i>
            </span>
            <span>Dark</span>
          </a>
          <a class="navbar-item" href="#" id="theme-system" data-on-click="$bulmaTheme='system' ; @get('/change-css-theme')">
            <span class="icon is-small">
              <i class="fas fa-desktop"></i>
            </span>
            <span>System</span>
          </a>
        </div>
      </div>


      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Profile ({{ userinfo.given-name }} {{ userinfo.family-name }})
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/profile">
            Settings
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="/logout">
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
