<div class="panel-block" id="topics-list"> <!-- Topics List -->
  <div class="content" style="width: 100%;">
    {% if topics %}
      {% for topic in topics %}
        <div class="box mb-2">
          <div class="columns is-mobile is-vcentered">
            <div class="column">
              <p class="subtitle is-6 mb-1">{{ topic.title }}</p>
              <p class="is-size-7 has-text-grey">by {{ topic.created-by-name }}</p>
              <div class="tags has-addons mt-1">
                <span class="tag is-success">+{{ topic.upvotes }}</span>
                <span class="tag is-danger">-{{ topic.downvotes }}</span>
                <span class="tag is-info">Score: {{ topic.vote-score }}</span>
              </div>
            </div>
            <div class="column is-narrow">
              <div class="buttons are-small">
                <form data-on-submit="$$post('/meeting/{{ meeting-id }}/vote-topic')" style="display: inline;">
                  <input type="hidden" name="topic_id" value="{{ topic.id }}">
                  <input type="hidden" name="vote_type" value="upvote">
                  <button type="submit" class="button{% if topic.user-vote = 'upvote' %} is-success{% endif %}">
                    <span class="icon is-small">
                      <i class="fas fa-arrow-up"></i>
                    </span>
                    <span>{{ topic.upvotes }}</span>
                  </button>
                </form>
                <form data-on-submit="$$post('/meeting/{{ meeting-id }}/vote-topic')" style="display: inline;">
                  <input type="hidden" name="topic_id" value="{{ topic.id }}">
                  <input type="hidden" name="vote_type" value="downvote">
                  <button type="submit" class="button{% if topic.user-vote = 'downvote' %} is-danger{% endif %}">
                    <span class="icon is-small">
                      <i class="fas fa-arrow-down"></i>
                    </span>
                    <span>{{ topic.downvotes }}</span>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="notification is-info is-light">
        <p class="has-text-centered">No topics added yet. Be the first to add a topic!</p>
      </div>
    {% endif %}
  </div>
</div>