<tbody id="users-list">
  {% for user in users %}
    <tr>
      <td>
        <div class="media">
          <div class="media-left">
            <figure class="image is-32x32">
              {% if user.picture %}
                <img class="is-rounded" src="{{ user.picture }}" alt="Avatar">
              {% else %}
                <div class="has-background-grey-light is-rounded" style="width: 32px; height: 32px; display: flex; align-items: center; justify-content: center;">
                  <span class="icon is-small">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              {% endif %}
            </figure>
          </div>
          <div class="media-content">
            <p class="is-size-6 has-text-weight-semibold">{{ user.name }}</p>
            <p class="is-size-7 has-text-grey">{{ user.given-name }} {{ user.family-name }}</p>
          </div>
        </div>
      </td>
      <td>{{ user.email }} - {{ user.id }}</td>
      <td data-signals-access-level-{{ user.id }}="'{{ user.access-level }}'">
        <div class="control" data-on-signal-change-access-level-{{ user.id }}="@get('/admin/manage-users/update-user-access-level?user_id={{ user.id }}')">
          <label class="radio">
            <input type="radio" name="access-level-{{ user.id }}" data-bind-access-level-{{ user.id }} value="user">
            <span class="tag {% if user.access-level = "user" %}is-success{% endif %}">User</span>
          </label>
          <label class="radio">
            <input type="radio" name="access-level-{{ user.id }}" data-bind-access-level-{{ user.id }} value="staff">
            <span class="tag {% if user.access-level = "staff" %}is-info{% endif %}">Staff</span>
          </label>
          <label class="radio">
            <input type="radio" name="access-level-{{ user.id }}" data-bind-access-level-{{ user.id }} value="admin">
            <span class="tag {% if user.access-level = "admin" %}is-danger{% endif %}">Admin</span>
          </label>
        </div>
      </td>
      <td>
        <span class="tag {% if user.is-active %}is-success{% else %}is-light{% endif %}">
          {% if user.is-active %}Active{% else %}Inactive{% endif %}
        </span>
      </td>
      <td>
        <span class="tag is-light">{{ user.actions-assigned|default:0 }}</span>
      </td>
      <td>
        <span class="tag is-light">{{ user.actions-resolved|default:0 }}</span>
      </td>
      <td>
        <span class="is-size-7 has-text-grey">
          {% if user.last-login %}
            {{ user.last-login|date:"MMM d, yyyy HH:mm" }}
          {% else %}
            Never
          {% endif %}
        </span>
      </td>
      <td style="width: 260px;">
        <div class="buttons are-small" style="white-space: nowrap;">
          {% if user.is-active %}
            <button class="button is-warning" onclick="toggleUserStatus({{ user.id }}, false)">
              <span class="icon is-small">
                <i class="fas fa-pause"></i>
              </span>
              <span>Deactivate</span>
            </button>
          {% else %}
            <button class="button is-success" onclick="toggleUserStatus({{ user.id }}, true)">
              <span class="icon is-small">
                <i class="fas fa-play"></i>
              </span>
              <span>Activate</span>
            </button>
          {% endif %}
          
          <button class="button is-info" onclick="manageUserTeams({{ user.id }})">
            <span class="icon is-small">
              <i class="fas fa-users-cog"></i>
            </span>
            <span>Teams</span>
          </button>
          
          <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
              <button class="button is-light" aria-haspopup="true" aria-controls="dropdown-menu-{{ user.id }}">
                <span class="icon is-small">
                  <i class="fas fa-ellipsis-v"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu-{{ user.id }}" role="menu">
              <div class="dropdown-content">
                <a href="/users/{{ user.id }}/profile" class="dropdown-item">
                  <span class="icon">
                    <i class="fas fa-user-edit"></i>
                  </span>
                  Edit Profile
                </a>
                <a href="/users/{{ user.id }}/actions" class="dropdown-item">
                  <span class="icon">
                    <i class="fas fa-tasks"></i>
                  </span>
                  View Actions
                </a>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item has-text-danger" onclick="deleteUser({{ user.id }})">
                  <span class="icon">
                    <i class="fas fa-trash"></i>
                  </span>
                  Delete User
                </a>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  {% empty %}
    <tr>
      <td colspan="8" class="has-text-centered has-text-grey">
        <div class="content">
          <p>
            <span class="icon is-large">
              <i class="fas fa-users fa-2x"></i>
            </span>
          </p>
          <p>No users found.</p>
        </div>
      </td>
    </tr>
  {% endfor %}
</tbody>
