<div x-data="{ open: true }">
  <form hx-post="/team/add" hx-trigger="click target:#add-team">
    {% csrf-field %}
    <div :class="open ? 'is-active modal' : 'modal'">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Add Team</p>
          <button class="delete" aria-label="close" x-on:click="open = ! open"></button>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input{% if errors.name %} is-danger{% endif %}" name="name" type="text" placeholder="Team name" value="{{ name }}">
              {% if errors.name %}<div class="help is-danger">{{errors.name|join}}</div>{% endif %}
            </div>
          </div>
          <div class="field">
            <label class="label">Description</label>
            <div class="control">
              <textarea class="textarea{% if errors.description %} is-danger{% endif %}" name="description" placeholder="What this team do?">{{ description }}</textarea>
              {% if errors.description %}<div class="help is-danger">{{errors.description|join}}</div>{% endif %}
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <div class="buttons">
            <button class="button is-success" id="add-team">Save changes</button>
            <button class="button" x-on:click="open = ! open">Cancel</button>
          </div>
        </footer>
      </div>
    </div>
  </form>
</div>
