<div x-data="{ open: true }">
  <form hx-post="/team/edit" hx-trigger="click target:#edit-team-save">
    <input type="hidden" name="id" value="{{ team.id }}">
    {% csrf-field %}
    <div :class="open ? 'is-active modal' : 'modal'">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Edit Team</p>
          <button class="delete" aria-label="close" x-on:click="open = ! open"></button>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" name="name" value="{{ team.name }}" type="text" placeholder="Team name">
            </div>
          </div>
          <div class="field">
            <label class="label">Description</label>
            <div class="control">
              <textarea class="textarea" name="description" placeholder="What this team do?">{{ team.description }}</textarea>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <div class="buttons">
            <button class="button is-success form-save" id="edit-team-save">💾 Save changes</button>
            <button class="button is-warning" hx-post="/team/archive?id={{ team.id }}">❌ Archive this team</button>
            <button class="button" x-on:click="open = ! open">Cancel</button>
          </div>
        </footer>
      </div>
    </div>
  </form>
</div>
