<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to hola-tact-meet</title>

    <!-- styles -->
    {% style "/assets/bulma/css/bulma.min.css" %}
    {#% style "/assets/material-icons/css/material-icons.min.css" %#}
    {% script "/assets/htmx.org/dist/htmx.min.js" %}
    {% script "/assets/alpinejs/dist/cdn.min.js" defer="true" %}
    {% style "/css/screen.css" %}
    {% style "/css/bulma-calendar.min.css" %}

  </head>
  <body x-data="{showBurgerMenu: false}">
    <!-- navbar -->
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/" style="font-weight:bold;">hola-tact-meet</a>
          <span :class="showBurgerMenu ? 'navbar-burger burger is-active' : 'navbar-burger burger'" @click="showBurgerMenu = !showBurgerMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="nav-menu" :class="showBurgerMenu ? 'navbar-menu is-active' : 'navbar-menu'">
          <div class="navbar-start">
            <a href="/" class="navbar-item{% ifequal page "home.html" %} is-selected{%endifequal%}">Home</a>
            <a href="/about" class="navbar-item{% ifequal page "about.html" %} is-selected{%endifequal%}">About</a>
            <a href="/config" class="navbar-item{% ifequal page "teams.html" %} is-selected{%endifequal%}">Actions</a>
            <a href="/config" class="navbar-item{% ifequal page "teams.html" %} is-selected{%endifequal%}">System Logs</a>
          </div>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </section>

    {% block page-scripts %}
      <script>
      document.body.addEventListener("htmx:configRequest", (event) => { event.detail.headers["x-csrf-token"] = "{{ csrf-token }}"; });
      document.body.addEventListener("htmx:afterSwap", (event) => { bulmaCalendar.attach('[type="date"]', {}); });
      </script>
      {% script "/js/bulma-calendar.min.js" %}
    {% endblock %}
  </body>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>hola-tact-meet</strong>
      (C) 2024
      by <a href="https://alex.koval.kharkov.ua">Oleksii Koval</a> implemented
      as part of Daily Learning Excercise. <br>This software is provided as-is without any guarantees.
    </p>
    <p>Technologies used to implement this page:
      <a href="https://luminusweb.com/" target="_blank">Luminus</a>,
      <a href="https://htmx.org" target="_blank">htmx.org</a>,
      <a href="https://alpinejs.dev" target="_blank">alpinejs</a>
    </p>

  </div>
</footer>

</html>
