{% extends "base.html" %}
{% block content %}

  <h2 class="title is-h2">Hola {{user-email}}! Tactical meeting!</h2>

  <div id="id-modal-here"></div>

  <div class="box">
    <h4 class="title is-4">Teams</h3>
      <table class="table">
        <thead>
          <th>Name</th>
          <th>Description</th>
          <th>Meetings</th>
          <th>Join/Leave</th>
          <th>Actions</th>
        </thead>
        <tbody>
          {% for team in teams %}
            <tr><td><div class="tag is-info">{{ team.name }}</div></td>
              <td>{{ team.description }}</td>
              <td>{{ team.meetings_count }}</td>
              <td>
                {% if team.joined_at %}
                  {% include "team/joined.html" %}
                {% else %}
                  {% include "team/leave.html" %}
                {% endif %}
              </td>
              <td>
                <a class="button" href="/add-meeting" hx-get="/team/edit?team_id={{ team.id }}" hx-target="#id-modal-here">Edit</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="#" hx-get="/team/add" hx-target="#id-modal-here">Add new team</a>
  </div>



  <div class="box">
    <h4 class="title is-4">Meetings</h4>
    <div class="tabs is-boxed">
      <ul>
        <li class="is-active">
          <a>
            <span>Current & Recent</span>
          </a>
        </li>
        <li>
          <a>
            <span>Today</span>
          </a>
        </li>
        <li>
          <a>
            <span>Future</span>
          </a>
        </li>
        <li>
          <a>
            <span>Past</span>
          </a>
        </li>
      </ul>
    </div>

    <table class="table">
      <thead>
        <th>Scheduled date</th>
        <th>Duration</th>
        <th>Teams invited to this meeting</th>
        <th>Agenda</th>
        <th>Topics</th>
        <th>Actions</th>
      </thead>
      <tbody>
        {% for meeting in meetings %}
          <tr>
            <td>{{ meeting.scheduled_to }}</td>
            <td>{{ meeting.duration }}</td>
            <td>?</td>
            <td>{{ meeting.agenda }}</td>
            <td>topics?</td>
            <td>actions?</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a hx-get="/meeting/add" hx-target="#id-modal-here">Add new meeting</a>
  </div>

{% endblock %}
