{% extends "base.html" %}
{% block content %}

  <h2 class="title is-h2">Hola {{user-email}}! Tactical meeting!</h2>

  <div id="id-modal-here"></div>

  <div class="box">
    <h4 class="title is-4">Teams</h3>
    <table class="table">
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Meetings</th>
      <th>Join/Leave</th>
      <th>Actions</th>
    </thead>
    <tbody>
      {% for team in teams %}
        <tr><td>{{ team.name }}</td>
          <td></td>
          <td></td>
          <td>
            {% if team.joined_at %}
              {% include "team/joined.html" %}
              {% else %}
              <button class="button is-light" hx-post="/team/join?team_id={{ team.id }}" hx-swap="outerHTML">Join</button>
            {% endif %}
          </td>
          <td>
            <a>Edit</a>
            {% comment %}
            <button class="button is-primary">Edit</button>
            <button class="button is-danger" data-tooltip="archive">❌</button>
            {% endcomment %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="/add-meeting" hx-get="/team/add" hx-target="#id-modal-here">Add new team</a>
  </div>

<div class="box">
    <h2 class="title is-h2">Meetings</h2>
  <i class="tag is-info is-light">TODO: add tabs "Current & recent|Today|Future|Past"</i>
  <table class="table">
    <thead>
      <th>Scheduled date</th>
      <th>Teams invited to this meeting</th>
      <th>Agenda</th>
      <th>Topics</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr><td>...</td></tr>
    </tbody>
  </table>
  <a href="/add-meeting">Add new meeting</a>
  </div>

{% endblock %}
